/* Color palette */
:root {
    --black: #171810;
    --white: #fcfcfc;
    --dark-green: #3e6606;
    --green: #6f913d;
    --orange: #ff6e05;
    --gray: #dddddd
}

/* Main */
#call_to_action {
    width: 350px;
    height: auto;
    padding: 30px;
    margin: 200px 50px;
    background-color: #fcfcfc;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: var(--dark-green);
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;
    }

    a {
        margin-top: 30px;
        color: var(--orange);
    }
}


.bento_container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 650px;
    height: 500px;
}

.bento_item {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.tall {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.small {
    grid-column: span 1;
    grid-row: 1 / 2;
}

.wide {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    max-height: 250px;

    img {
        object-position: center 65%;
    }
}

#benefits_of_gardening {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 50px;
}

#long_card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 18px 18px 15px -15px var(--gray);
    padding: 20px;

    h3 {
        font-size: 1.5em;
    }

    p {
        margin-top: 10px;
    }
}