<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Author" content="Emmanuel Vivas" />
    <meta
      name="Keywords"
      content="Plantas, Decoración, Jardinería, Garden, Plants"
    />
    <meta name="locality" content="Barcelona,España,Europa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tu tienda de confianza, donde encontrarás todo lo que necesitas para el cuidado de tus plantas, tanto de interior como de exterior."
    />
    <meta name="robots" content="index follow" />
    <link rel="stylesheet" href="../style/general.css" />
    <link rel="stylesheet" href="../style/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>🪴 Artemisa</title>
  </head>
  <body>
    <div id="page_wrapper">
      <header>
        <div id="header_container">
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="./productos.html">Productos</a></li>
              <li><a href="./presupuesto.html">Presupuesto</a></li>
              <li><a class="active" href="./contacto.html">Contacto</a></li>
            </ul>
          </nav>
          <div id="header_logo">
            <img src="../assets/artemisaLogo.png" alt="Logo Artemisa" />
          </div>
          <div id="icon_container">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="background_container">
          <div class="background top">
            <img
              src="../assets/topBackground.jpg"
              alt="Fondo de hojas superior"
            />
          </div>
          <div class="background bottom">
            <img
              src="../assets/bottomBackground.jpg"
              alt="Fondo de hojas inferior"
            />
          </div>
          <div id="main_container">
            <section class="new_section">
              <h2>Contáctanos 🌱</h2>
              <p>
                Necesitas asesoramiento sobre nuestros servicios y nuestras
                plantas?
                <span class="emphasis">Estamos aquí para ayudarte.</span>
              </p>

              <h2>Encontranos en:</h2>
              <p>
                Instagram como:
                <a class="emphasis" href="https://www.instagram.com">
                  Artemisa</a
                >
                y en Facebook como
                <a class="emphasis" href="https://www.facebook.com"
                  >Tienda de plantas Artemisa</a
                >.
              </p>
              <p>
                Agendá una cita con nuestros profesionales escribiéndonos al
                <a class="emphasis" href="tel:+691123456">+69 1123 456</a>. Te
                responderemos lo antes posible.
              </p>
              <h2>Nuestra tienda</h2>
              <div id="map_frame">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8178.547807406345!2d2.139813286298193!3d41.383947478474234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a39cb4652ea5%3A0x241e477925055c9!2sAcademia%20de%20Cursos%20T%C3%A9cnicos%20%7C%20MasterD%20Barcelona!5e0!3m2!1ses-419!2ses!4v1739985316417!5m2!1ses-419!2ses"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  sandbox="allow-scripts allow-same-origin"
                ></iframe>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer>
        <div id="footer_container">
          <div id="footer_logo">
            <img src="../assets/artemisaLogo.png" alt="Logo Artemisa" />
          </div>
          <div id="footer_social_media">
            <div id="footer_icon_container">
              <div class="icon">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icon">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="icon">
                <i class="fa-brands fa-whatsapp"></i>
              </div>
            </div>
            <p id="adress">Carrer de Bosques, 123. Barcelona</p>
            <h5>Todos los derechos reservados</h5>
          </div>
          <div id="footer_links">
            <a href="./presupuesto.html">Presupuesto</a
            ><a href="./contacto.html">Contacto</a
            ><a href="/">Terminos y condiciones</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
