<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="Author" content="Emmanuel Vivas">
    <meta
      name="Keywords"
      content="Plantas, Decoración, Jardinería, Garden, Plants"
      >
    <meta name="locality" content="Barcelona,España,Europa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Tu tienda de confianza, donde encontrarás todo lo que necesitas para el cuidado de tus plantas, tanto de interior como de exterior."
      >
    <meta name="robots" content="index follow">
    <link rel="stylesheet" href="../style/general.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      >
    <title>🪴 Artemisa</title>
  </head>
  <body>
    <div id="page_wrapper">
      <header>
        <div id="header_container">
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a class="active" href="./productos.html">Productos</a></li>
              <li><a href="./presupuesto.html">Presupuesto</a></li>
              <li><a href="./contacto.html">Contacto</a></li>
            </ul>
          </nav>
          <div id="header_logo">
            <img
              src="../assets/artemisaLogo.png"
              alt="Logo Artemisa"
              width="500"
              height="250"
              >
          </div>
          <div id="icon_container">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="background_container">
          <div class="background top">
            <img
              src="../assets/topBackground.jpg"
              alt="Fondo de hojas superior"
              width="1200"
              height="675"
              >
          </div>
          <div class="background bottom">
            <img
              src="../assets/bottomBackground.jpg"
              alt="Fondo de hojas inferior"
              width="1000"
              height="561"
              >
          </div>
          <div id="main_container">
            <section class="new_section">
              <h2>Plantas</h2>
              <div class="product_wrapper">
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant1.jpg"
                    alt="Planta: Monstera"
                    width="2648"
                    height="2848"
                    >
                  <div class="product_info">
                    <h3>Monstera</h3>
                    <p>
                      De interior. Sumamente versátil. Se puede tener en agua o
                      tierra.
                    </p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant2.jpg"
                    alt="Planta: Higuera hoja de violín"
                    width="2304"
                    height="3621"
                    >
                  <div class="product_info">
                    <h3>Higuera hoja de violín</h3>
                    <p>
                      Planta con flores, de interior. Proviene del Africa
                      occidental. Necesita buena luz y humedad.
                    </p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant3.jpg"
                    alt="Planta: Hawortha fasciata. Suculenta de interior"
                    width="3632"
                    height="3632"
                    >
                  <div class="product_info">
                    <h3>Hawortha fasciata</h3>
                    <p>
                      Pequeña suculenta de interior. Similar a un aloe vera.
                      Facil de criar y reproducir.
                    </p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant4.jpg"
                    alt="Planta: Cactus"
                    width="2449"
                    height="1837"
                    >
                  <div class="product_info">
                    <h3>Cactus</h3>
                    <p>
                      Necesita mucha luz y poco riego. Especial para
                      principiantes en el mundo de las plantas.
                    </p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant5.jpg"
                    alt="Planta: Suculentas"
                    width="3980"
                    height="3184"
                    >
                  <div class="product_info">
                    <h3>Suculentas</h3>
                    <p>Ven a conocer nuestra amplia gama de suculentas.</p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant6.jpg"
                    alt="Planta: Bonsai"
                    width="1565"
                    height="3130"
                    >
                  <div class="product_info">
                    <h3>Bonsai</h3>
                    <p>
                      El universo de los bonsai es infinito. Estas plantas
                      ancestrales son decorativas y exigen el cuidado y una mano
                      experta.
                    </p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant7.jpg"
                    alt="Planta: Heliconia"
                    width="3350"
                    height="4467"
                    >
                  <div class="product_info">
                    <h3>Heliconia</h3>
                    <p>
                      Tiene hermosas flores con colores anaranjados. En buenas
                      condiciones crece muy bien.
                    </p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/plant9.jpg"
                    alt="Planta: Philodendron hederaceum"
                    width="2459"
                    height="3073"
                    >
                  <div class="product_info">
                    <h3>Philodendron hederaceum</h3>
                    <p>
                      Crece tanto como espacio tenga. No le gusta estar cerca de
                      paredes. Crece hacia el sol, así que hay que rotarlo
                      regularmente.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <section class="new_section">
              <h2>Herramientas</h2>
              <div class="product_wrapper">
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/tool2.jpg"
                    alt="Herramienta: Pala de punta"
                    width="3024"
                    height="6048"
                    >
                  <div class="product_info">
                    <h3>Pala de punta</h3>
                    <p>Excelente para trabajar la tierra.</p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/tool5.jpg"
                    alt="Herramienta: Carretilla"
                    width="4014"
                    height="5995"
                    >
                  <div class="product_info">
                    <h3>Carretilla</h3>
                    <p>Para desplazar grandes cantidades de tierra.</p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/tool4.jpg"
                    alt="Herramienta: Maceta"
                    width="4095"
                    height="5119"
                    >
                  <div class="product_info">
                    <h3>Maceta</h3>
                    <p>Incluye su plato.</p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/tool3.jpg"
                    alt="Herramienta: Regadera"
                    width="3741"
                    height="2806"
                    >
                  <div class="product_info">
                    <h3>Regadera</h3>
                    <p>Hidratar tus plantas es fundamental.</p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/tool1.jpg"
                    alt="Herramienta: Pala pequeña"
                    width="3961"
                    height="3169"
                    >
                  <div class="product_info">
                    <h3>Pala pequeña</h3>
                    <p>Para mover la tierra y mantenerla aereada.</p>
                  </div>
                </div>
                <div class="product_card">
                  <img
                    class="product_img"
                    src="../assets/newProducts/tool6.jpg"
                    alt="Herramienta: Kit de herramientas"
                    width="2272"
                    height="1817"
                    >
                  <div class="product_info">
                    <h3>Kit de herramientas</h3>
                    <p>Todas las herramientas que necesita un principiante.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer>
        <div id="footer_container">
          <div id="footer_logo">
            <img
              src="../assets/artemisaLogo.png"
              alt="Logo Artemisa"
              width="500"
              height="250"
              >
          </div>
          <div id="footer_social_media">
            <div id="footer_icon_container">
              <div class="icon">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icon">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="icon">
                <i class="fa-brands fa-whatsapp"></i>
              </div>
            </div>
            <p id="adress">Carrer de Bosques, 123. Barcelona</p>
            <h5>Todos los derechos reservados</h5>
          </div>
          <div id="footer_links">
            <a href="./presupuesto.html">Presupuesto</a
            ><a href="./contacto.html">Contacto</a
            ><a href="/">Terminos y condiciones</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
