<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Author" content="Emmanuel Vivas" />
    <meta
      name="Keywords"
      content="Plantas, Decoración, Jardinería, Garden, Plants"
    />
    <meta name="locality" content="Barcelona,España,Europa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tu tienda de confianza, donde encontrarás todo lo que necesitas para el cuidado de tus plantas, tanto de interior como de exterior."
    />
    <meta name="robots" content="index follow" />
    <meta property="og:title" content="Artemisa - Tienda de plantas" />
    <meta
      property="og:description"
      content="Proyecto desarrollado por Emmanuel Vivas"
    />
    <meta property="og:image" content="../assets/opengraph.jpg" />
    <meta
      property="og:url"
      content="https://emmavivas.github.io/webAppArtemisa/"
    />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="../style/general.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>🪴 Artemisa</title>
  </head>
  <body>
    <div id="page_wrapper">
      <header>
        <div id="header_container">
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a class="active" href="./productos.html">Productos</a></li>
              <li><a href="./presupuesto.html">Presupuesto</a></li>
              <li><a href="./contacto.html">Contacto</a></li>
            </ul>
          </nav>
          <div id="header_logo">
            <img src="../assets/artemisaLogo.png" alt="Logo Artemisa" />
          </div>
          <div id="icon_container">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="background_container">
          <div class="background top">
            <img
              src="../assets/topBackground.jpg"
              alt="Fondo de hojas superior"
            />
          </div>
          <div class="background bottom">
            <img
              src="../assets/bottomBackground.jpg"
              alt="Fondo de hojas inferior"
            />
          </div>
          <div id="main_container">
            <section class="new_section">
              <h2>Plantas</h2>
              <div class="product_wrapper">
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta1.png"
                    alt="Planta: Silver queen"
                  />
                  <div id="product_info">
                    <h3>Silver queen</h3>
                    <p>
                      De la familia Aglaonema. Muy atractiva y facil de
                      cultivar. Cuidado, es fotosensible.
                    </p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta2.png"
                    alt="Planta: Sanseveria"
                  />
                  <div id="product_info">
                    <h3>Sanseveria</h3>
                    <p>
                      Puede crecer hasta 1,5 metros. Es una planta decorativa y
                      muy resistente.
                    </p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta3.png"
                    alt="Planta: Monstera deliciosa"
                  />
                  <div id="product_info">
                    <h3>Monstera deliciosa</h3>
                    <p>De interior y no exije mucho riego. Muy decorativa.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta4.png"
                    alt="Planta: Palmera de salón"
                  />
                  <div id="product_info">
                    <h3>Palmera de salón</h3>
                    <p>De interior, crece hasta 2 metros.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta5.png"
                    alt="Planta: Lazo de amor"
                  />
                  <div id="product_info">
                    <h3>Lazo de amor</h3>
                    <p>
                      Renueva ambientes afectados por monóxido de carbono. Se
                      reproduce con suma facilidad.
                    </p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta6.png"
                    alt="Planta: Helecho"
                  />
                  <div id="product_info">
                    <h3>Helecho</h3>
                    <p>
                      Tanto de interior, como de exterior. Sin flores, ni
                      semillas.
                    </p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta7.png"
                    alt="Planta: Ficus"
                  />
                  <div id="product_info">
                    <h3>Ficus</h3>
                    <p>Árbol muy ornamental y siempre verde.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/planta8.png"
                    alt="Planta: Aloe vera"
                  />
                  <div id="product_info">
                    <h3>Aloe vera</h3>
                    <p>Decorativa y con propiedades medicinales.</p>
                  </div>
                </div>
              </div>
            </section>
            <section class="new_section">
              <h2>Herramientas</h2>
              <div class="product_wrapper">
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/tool1.png"
                    alt="Herramienta: Pala"
                  />
                  <div id="product_info">
                    <h3>Pala</h3>
                    <p>Excelente para trabajar la tierra.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/tool2.png"
                    alt="Herramienta: Guantes"
                  />
                  <div id="product_info">
                    <h3>Guantes</h3>
                    <p>Excelente para trabajar la tierra.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/tool3.png"
                    alt="Herramienta: Maceta"
                  />
                  <div id="product_info">
                    <h3>Maceta</h3>
                    <p>Incluye su plato.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/tool4.png"
                    alt="Herramienta: Regadera"
                  />
                  <div id="product_info">
                    <h3>Regadera</h3>
                    <p>Hidratar tus plantas es fundamental.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/tool5.png"
                    alt="Herramienta: Manguera"
                  />
                  <div id="product_info">
                    <h3>Manguera</h3>
                    <p>Para regar tus cultivos.</p>
                  </div>
                </div>
                <div id="product_card">
                  <img
                    class="product_img"
                    src="../assets/products/tool6.png"
                    alt="Herramienta: Kit de herramientas"
                  />
                  <div id="product_info">
                    <h3>Kit de herramientas</h3>
                    <p>Todas las herramientas que necesita un principiante.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer>
        <div id="footer_container">
          <div id="footer_logo">
            <img src="../assets/artemisaLogo.png" alt="Logo Artemisa" />
          </div>
          <div id="footer_social_media">
            <div id="footer_icon_container">
              <div class="icon">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icon">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="icon">
                <i class="fa-brands fa-whatsapp"></i>
              </div>
            </div>
            <p id="adress">Carrer de Bosques, 123. Barcelona</p>
            <h5>Todos los derechos reservados</h5>
          </div>
          <div id="footer_links">
            <a href="./presupuesto.html">Presupuesto</a
            ><a href="./contacto.html">Contacto</a
            ><a href="/">Terminos y condiciones</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
